<!DOCTYPE html>
<html>
  <head>
      <%- include ('../partials/head.ejs') %>
  </head>
  <body >
  <section class="section ">

      <h1 class="title is-1">
        Log In
      </h1>
      <div class="field is-horizontal hero has-background-danger" width="600px">
      <div class="field-body">

      <form action="/session" method="post">
        <div class="field">

          Username:  <input class="input"type="text" name="username" placeholder="username"><br>

          password: <input class="input" type="password" name="password" placeholder="password"><br>

        <button class="button is-primary">Login</button>
        </div>
      </form>
        </div>
    </div>
  </section>
  </body>
</html>
