<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Log IN</h1>
    <form action="/session" method="post">

      <input type="text" name="username" placeholder="username"><br>

      <input type="password" name="password" placeholder="password"><br>

      <input type="submit"  value="Log In"><br>
    </form>
  </body>
</html>
