<!DOCTYPE html>
<html>
  <head>
      <%- include ('../partials/head.ejs') %>
  </head>
  <body >
  <section class="section ">

      <h1 class="title is-1">
        Log In
      </h1>
      <div class="field is-horizontal box hero has-background-danger" width="600px">
      <div class="field-body">

      <form action="/session" method="post">
        <div class="field">

          Username:  <input class="input"type="text" name="username" placeholder="username"><br>

          Password: <input class="input" type="password" name="password" placeholder="password"><br>

          <div class="buttons has-addons is-centered">
        <button class="button is-primary is-light ">Login</button>

          </div>

        </div>
      </form>
        </div>
    </div>
  </section>

    <div class="buttons has-addons is-centered">
  <button type="button" class="button is-primary is-light"><a href="/user/new">Sign Up Page</as></button>
    <button type="button" class="button is-primary is-light"><a href="/">Home Page</as></button>
    </div>
    <!-- <img src="https://images.unsplash.com/photo-1573495613349-ae44f9b25d37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" width="500px" > -->
    <img src="https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" width="700px" class="pic" >

  </body>
</html>
