<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HOME PAGE</h1>
    <nav>
      <ul>
        <li>
            <a href="/session/login">Log In</a>
        </li>

        <li>
          <a href="/user/new">Sign Up</a>
        </li>
      </ul>

    </nav>
  </body>
</html>
