<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1 class="title is-1">New user page</h1>
    <div class="field is-horizontal" width="600px">
    <div class="field-body">

    <form action="/user" method="post">
      <div class="field">
      Username:  <input class="input"type="text" name="username" placeholder="username"><br>

      password: <input class="input" type="password" name="password" placeholder="password"><br>
      <button class="button is-primary">Submit</button>
    </form>
    </div>
  </div>
</div>
  </section>
  </body>
</html>
