<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Edit Page</h1>
      <form action="/topics/<%=topic.id%>?_method=PUT" method="POST">
          Name: <input type="text" name="name"/><br/>

          <input type="submit" value="Edit Topic"/>
      </form>
    </div>

  </section>
  <nav>
    <a href="/topics">Back to topics</a>
  </nav>
  </body>
</html>
