<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New topics page</h1>
        <form action="/topics" method="POST">
            Topic: <input type="text" name="name" /><br/>
            <input type="submit" name="" value="Create Topic"/>
        </form>
    </body>
</html>
