<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1> <%=topics.name %> show page</h1>

      <form action="/room" method="post">

      </form>

    <nav>
      <a href="/topics">Back to topics</a>
    </nav>
  </body>
</html>
