<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
  <section class="section">
    <h1 class="title">Chatting</h1>
    <div class="tabs">
    <nav class="momics ">
      <a href="/topics">Back to topics</a>
    </nav>
    </div>
    <br>
    <div class="words">
    <ul id="messages"></ul>
    </div>

  <form class="talks">
    <input class="input is-danger" id="m" autocomplete="off">
    <button class="button is-danger is-inverted">Send</button>
  </form>


  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    $(() => {

      const socket = io();
      $('form').submit((e) =>{
        e.preventDefault();
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', (msg) =>{
        $('#messages').append($('<li>').text(msg));
      });
    });
  </script>


  </section>
  </body>
</html>
